.question {
  margin-top: 10px;
}

.bottomDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: #FAF0E8;
}

.sign-up-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for signUp_1.js */

.signUp1Div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signUp1Div h2 {
    text-align: center;
}

#signUp1 {
    /* margin-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
}

#signUp1 Input{
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 10%; */
}

#signUp1 Button {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #FAF0E8;
  overflow: hidden;
}

.semantic-radio{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 7.5%;
  padding-right: 10px;
}


.signup-questions{
box-shadow: 2px 4px 6px #b3b3b3;
width: 50%;
margin: auto;
border-radius: 10px
}

.survey-questions{
  margin-left: 5%;
}

.signup-questions label{
  margin-left: 10%;
  font-size: 10px;
  font-weight: bold
}