.question {
  margin-top: 10px;
}

.bottomDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #FAF0E8;
  overflow: hidden;
}

.semantic-radio{
  padding: 10px;
}