html {
    font-family: Poppins, Libre Franklin, Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    padding: 0px;
}

pre {
    font-family: Libre Franklin;
    max-width: 1400px;
}

#phrase {
    color: #ff6624;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-style: italic;
    
}

#intro {
    font-size: 18px;
    max-width: 1000px;
}

.dropdowns {
    font-size: 18px;
    padding: 15px 15px 15px 15px;
}

.backgroundDiv {
    background-color: #faf0e8;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf0e8;
    color: #35297f;
}

pre {
    width: inherit;
    font-family: inherit;
    white-space: pre-wrap;
    margin: 0;
    font-size: 18px;
    padding: 15px 15px 15px 15px;
}

.welcomeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownDiv h2 {
    text-align: center;
}

.postDiv h2 {
    text-align: center;
}

/* mobile only settings */
@media only screen and (max-width: 400px) {
    .content-header {
        margin-top: 46px;
        margin-bottom: 46px;
    }
    .welcomeDiv, .postDiv {
        margin-left: 7px;
        margin-right: 7px;
    }
    .user-page{
        margin-top: 100px;
    }
    #intro {
        width: 90vw;
    }
}