.userPreferencesMainDiv {
    margin-top: 10px;
    text-align: center;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.update-radio{
    padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/* mobile only settings */

@media only screen and (max-width: 400px) {
    .userPreferencesMainDiv {
        margin-top: 50px;
        text-align: center;
    }
    .buttonDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}