.links {
    width: 80%;
    background-color: black;
    overflow: auto;   
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.nav-list{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

/* styling for AdminCharts.js */
.chartDiv {
    width: 80%;
    margin: auto;
    overflow-y: scroll;
    height: 500px;
}

.chartDiv h2 {
    text-align: center;
    
}

/* styling for AdminDetails.js */
.csvDiv {
    width: 80%;
    margin: auto;
}

.csvInner {
    padding: 20px 20px;
}

/* styling for AdminEdit.js */
.editParentDiv {
    width: 80%;
    margin: auto;
    overflow-y: scroll;
    height: 500px;
}

.role-age-menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.roleMenu {
    margin: 0;
}

.editParentDiv h3 {
    margin: 15px;
    text-align: center;
}

.editParentDiv div {
  margin: 15px;
}