.nav {
  max-height: 103px;
  background-color: #35297f;
  font-family: Poppins, Libre Franklin;
  border-bottom: 60px solid #faf0e8;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 195px;
}

.nav-right {
  float: right;
}

.nav-link {
  float: left;
  color: white;
  background-color: #ff6624;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

#donate {
  float: left;
  color: white;
  background-color: #35297f;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #af3a11;
}





/* mobile only settings */

@media only screen and (max-width: 550px) {
  .nav {
    flex-direction: column;
  }
  .nav-right {
    float: none;
    display: flex;
    border-bottom: 60px solid #faf0e8;
    width: 100%;
    margin: auto;
  }
  .nav-link {
    flex-grow: 1;
  }

  .nav{
    padding-bottom: 58px;
    margin-bottom: 58px;
  }
}